/* custom style */
:root {
  /* font */
  --ff-primary: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --ff-accent: "Playfair Display", serif;
  --ff-para: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  /* color */
  --clr-primary: rgb(43, 137, 224);
  --clr-secondary: rgba(68, 186, 255, 0.682);
}

.landing__cont {
  margin: 50px;
  border: 2px solid;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 500px;
  background-color: rgb(43, 137, 224);
}

.landing__text__right {
  width: 55%;
  max-width: 100%;
  right: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin: 60px;
  text-shadow: 3px 3px 3px rgb(0 0 0 / 60%);
  font-size: 50px;
  line-height: 1.6;
}

/* .landing__service__btn__lt {
  position: relative;
  left: 30%;
  width: 150px;
  height: 50px;
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
}

.landing__service__btn__lt:hover {
  zoom: 1;
  left: 30%;
  color: black;
  background: white;
} */

.landing__service__btn__lt {
  padding: 1em 2em;
  border: none;
  border-radius: 45px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  color: var(--clr-primary);
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid var(--clr-secondary);
}

.landing__service__btn__lt:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid var(--clr-secondary);
  box-shadow: 4px 5px 17px -4px #268391;
  /* box-shadow: 4px 5px 17px -4px var(--clr-secondary); */
}

.landing__service__btn__lt::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--clr-secondary);
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.landing__service__btn__lt:hover::before {
  width: 250%;
}

/* .landing__service__btn__rt {
  position: relative;
  left: 50%;
  width: 150px;
  height: 50px;
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
}

.landing__service__btn__rt:hover {
  zoom: 1;
  color: black;
  background: white;
} */

.landing__service__btn__rt {
  padding: 1em 2em;
  border: none;
  border-radius: 45px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  color: var(--clr-primary);
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid var(--clr-primary);
}

.landing__service__btn__rt:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid var(--clr-primary);
  box-shadow: 4px 5px 17px -4px #268391;
}

.landing__service__btn__rt::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--clr-primary);
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.landing__service__btn__rt:hover::before {
  width: 250%;
}

/* .landing__bg__left {
    width: 45%;
    height: 100%;
    align-items: center;
    display: flex;
    background: rgb(255, 255, 255) url("../../../../public/images/hs-i-4.jpg")
      no-repeat fixed left / 70%;
    border-radius: 0 50% 50% 0;
  } */

.landing__bg__right p {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.landing__text__left p {
  font-family: var(--ff-para);
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0.32px;
}

.landing__text__left > h2 {
  font-family: var(--clr-primary);
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.landing__text__right p {
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0.32px;
}

.landing__text__right > h2 {
  font-family: var(--clr-primary);
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: -0.44px;
  line-height: 52.8px;
}

.landing__bg__left {
  min-width: 100px;
  width: 45%;
  max-width: 700px;
  height: min(100%, 100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255) url("../../../../public/images/hs-i-4.jpg")
    no-repeat fixed left / 70% 100%;
  border-radius: 0 50% 50% 0;
}

.landing__bg__right {
  /* width: 45%;
    height: 100%; */
  /* width: 100vw; */
  min-width: 100px;
  width: 45%;
  max-width: 700px;
  height: min(100%, 100vh);
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50% 0 0 50%;
}
.landing__bg__right img {
  z-index: -1;
}
.landing__text__left {
  width: 55%;
  right: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin: 60px;
  text-shadow: 3px 3px 3px rgb(0 0 0 / 60%);
  font-size: 50px;
  line-height: 1.6;
}
/* 
  .landing__cont:hover{
     
  } */

@media screen and (max-width: 700px) {
  /* .landing__cont > * {
    width: 100vw;
  } */

  .landing__text__right > h2 {
    backdrop-filter: blur(10px);
    text-shadow: 0px 1px 1px black;
  }

  .landing__text__left > h2 {
    backdrop-filter: blur(10px);
    text-shadow: 0px 1px 1px black;
  }

  .landing__text__right {
    width: 55%;
    right: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
    line-height: 1.5;
    word-wrap: break-word;
  }

  .landing__text__left {
    width: 55%;
    right: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
    line-height: 1.5;
    word-wrap: break-word;
  }

  .wrapper > .landing__cont {
    margin: 0;
    margin-bottom: 50px;
  }

  .landing__cont {
    border: none;
  }
}
