
  .form{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  input{
    width: 250px;

    border: 1px solid gray;
  }

  .commissions{
    display: flex;
}

.commissions{
    flex:1;
    flex-direction: column;
}
label{
  width: 250px;
  padding: 10px;
}
  .formButton{
    width: 200px;
    height: 45px;
    border: none;
  
    margin-left: 20px;
    background-color: #1679AB;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
  }