* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }


.accounts{
    display: flex;
}

.accounts{
    flex:1;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100vh;
}

.commissions{
    display: flex;
}

.commissions{
    flex:1;
    flex-direction: column;
}

img {
    background-image: url('/public/images/img-2.jpg');
    width: 100px;
    height: 200px;
    object-fit: cover;
    background-color: aquamarine;
  }