.concards {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Oncard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    /* // justify-content: flex-end; */
    width: calc(30% - 25px);
    /* Adjust the width to fit 4 cards per row */
    height: auto;
    /* height: 400px; */
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: none;
    transition: transform 0.3s ease;
    border: groove;
}

.btnstatus {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;

}


@media screen and (min-width: 350px) {
    .Oncard {
        /* margin-bottom: 2rem; */
        border: groove;
        width: 25%;
        height: auto;
        padding: 20px;

    }

}

.ongoing_title{
    font-size: 20px;
    padding: 10px 0 0 0;
}

.Oncard__info{
    padding: 10px 20px;
    text-align: center;
    margin: 5px;
}

.ongoing__cards__txt{
    padding: 2px 5px;
}

.ongoing__cards__button{
    padding: 5px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
    color: #ffffff;
    font: 12px;
    display: block;
    width: 130px;
}

.ongoing__cards__buttons{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    margin: auto;
}