.profile-page-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.profile-left, .profile-right {
    flex: 1;
    margin-right: 30px;
}

.profile-left img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile-left {
    text-align: center;
}

.profile-left .info {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.8;
}

.profile-left ul {
    list-style-type: disc;
    margin-top: 20px;
    font-size: 18px;
}

.profile-left li::marker {
    color: white;
}

.profile-left .rating {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

.profile-right {
    display: flex;
    flex-direction: column;
}

.profile-right h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

.profile-right label {
    display: block;
    margin: 10px 0;
    font-size: 18px;
}

.profile-right input[type="text"],
 .profile-right input[type="number"],
 .profile-right input[type="date"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 18px;
}

.profile-right .buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.profile-right .buttons button {
    background-color: #ccc;
    padding: 15px 30px;
    border: none;
    border-radius: 6px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 18px;
}

.profile-right .buttons button:hover {
    background-color: #bbb;
}

.unverified {
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.verified{
    background-color: none;
    color: rgb(9, 238, 40);
    padding: 15px;
    border: rgb(33, 233, 33) 2px solid;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.profile-right .buttons button:last-child, button:first-child {
    margin-left: 25px;
}

.rating {
    color: #333;
}