.profile-page-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.profile-left,
.profile-right {
    flex: 1;
    margin-right: 30px;
}

.user_profile_pic {
    width: 200px;
    height: 150px;
    margin: 5px;
}

.profile-left {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.profile-left .info {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.8;
}

.profile-left ul {
    list-style-type: disc;
    margin-top: 20px;
    font-size: 18px;
}

.profile-left li::marker {
    color: white;
}

.profile-left .rating {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

.profile-right {
    display: flex;
    flex-direction: column;
}

.id_1 img {
    width: 300px;
    height: 150px;
    margin: 5px;
    max-width: 90%;
}

.id_2 img {
    /* width: 200px;
    height: 150px; */

    width: 300px;
    height: 150px;
    margin: 5px;
    max-width: 90%;
}

.prolabel {
    padding: 0;
    margin: 0;

}

.profile-right h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

.profile-right label {
    display: block;
    margin: 5px 0;
    font-size: 18px;
}


.profile-right input[type="text"],
.profile-right input[type="number"],
.profile-right input[type="date"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 18px;
}

.profile-left input[type="text"],
.profile-left input[type="number"],
.profile-left input[type="email"] {
    border: none;
    font-size: 16px;
    outline: none;
    text-align: center;
    /* Center the text */
    background-color: transparent;
    /* Ensures no background */
    transition: border-bottom 0.3s ease;
    /* Smooth transition for border */
}

.profile-left input[type="text"]:focus,
.profile-left input[type="number"]:focus,
.profile-left input[type="email"]:focus {
    background-color: #e4dfdf88;
    border-bottom: 1px solid rgb(49, 47, 47);
    /* Add underline on focus */
}

.profile-left input[type="text"].error,
.profile-left input[type="email"].error,
.profile-left input[type="number"].error {
    border: 2px solid #dc3545;
    /* color: red; */
    /* text-align: start; */
}

.profile-right input[type="text"].error,
.profile-right input[type="number"].error,
.profile-right input[type="date"].error {
    border: 2px solid #dc3545;
    /* color: red; */
    /* text-align: start; */
}

/* age */
input[type="number"].error {
    border: 2px solid #dc3545;
    color: black;
}

.profile-right input[type="date"].error {
    border: 2px solid #dc3545;
}

select .display-data1 .error {
    height: 4rem;
    /* Adjust the height as needed */
    width: 100%;
    font-size: 18px;
    padding: 12px;
    border: 2px solid #dc3545;
    /* text-align: start;
    color: red; */
}

.error::placeholder {
    color: #dc3545;
    opacity: 1;
}

/* gender */
.display-data1.error {
    border: 2px solid red;
}

.display-data1 {
    height: 4rem;
    font-size: 18px;
    width: 100%;
    padding: 12px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 18px;
}

.display-data1:focus {
    background-color: #e4dfdf88;
    border-bottom: 1px solid rgb(49, 47, 47);
}

/* Remove the increment (spinner) in number inputs */
.profile-left input[type="number"] {
    -moz-appearance: textfield;
    /* For Firefox */
}

.profile-left input[type="number"]::-webkit-outer-spin-button,
.profile-left input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* For Chrome, Safari, and Edge */
    margin: 0;
}


.profile-left .buttons {
    display: flex;
    justify-content: center;

}

.profile-left .buttons button {
    background-color: #ccc;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    margin-right: 5px;
    text-decoration: underline;
    display: inline-block;
}

.profile-left .buttons button:last-child {
    margin-right: 0;
}

.profile-left .buttons button:hover {
    background-color: #bbb;
}


.profile-right .buttonchange {
    display: flex;
    justify-content: start;
    margin-top: 16px;
}

.profile-right .buttonchange button {
    background-color: #ccc;
    /* padding: 15px 30px; */
    padding: 10px;
    border: none;
    border-radius: 6px;
    /* margin-right: 15px; */
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    background-color: #e4dfdf88;
    border: 1px solid #ccc;
}

.profile-right .buttonchange button:hover {
    /* background-color: #bbb; */
    /* background-color: #1679ab; */
    background-color: #378ce7;
    color: #fff;
}

.profile-right .buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.profile-right .buttons button {
    background-color: #ccc;
    padding: 15px 30px;
    border: none;
    border-radius: 6px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 18px;
}

.profile-right .buttons button:hover {
    background-color: #bbb;
}

.unverified {
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
}

.verified {
    background-color: none;
    color: rgb(9, 238, 40);
    padding: 15px;
    border: rgb(33, 233, 33) 2px solid;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
}

.pending {
    background-color: none;
    color: rgb(169, 238, 9);
    padding: 15px;
    border: rgb(169, 238, 9) 2px solid;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
}

.profile-right .buttons button:last-child {
    margin-left: 30px;
}

.rating {
    color: #333;
}

.upload-container {
    display: flex;
    padding: 5px;
    align-items: center;
    /* Align items vertically */
    justify-content: center;
    gap: 8px;
}

.upload-container button {
    width: 35px;
    height: 45px;
}

.upload-container input[type="file"] {
    margin-right: 10px;
    /* Add margin between the file input and the button */
}


/* Resetpassword component */
.form-container {
    max-width: 400px;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

/* .form-container button:active {
    scale: 0.95;
} */

.form-container .titlehead {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.form-container .form {
    display: flex;
    flex-direction: column;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: start;
}

.form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: #1778f2;
}

.form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #1679ab;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container .form-submit-btn:hover {
    background-color: #1a96d5;
}

.form-container .link {
    color: #1778f2;
    text-decoration: none;
}

.form-container .signup-link {
    align-self: center;
    font-weight: 500;
}

.form-container .signup-link .link {
    font-weight: 400;
}

.form-container .link:hover {
    text-decoration: underline;
}