body .App .si{
  display: block;
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  box-shadow: aliceblue;
  margin-top: 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.si-txt {
  text-align: center;
  color: #333;
}

.welcome {
  text-transform: uppercase;
}

.errand-catcher {
  font-size: 2rem; /* Adjust font size as needed */
  font-weight: bold; /* Optionally, adjust font weight */
}

.text{
  text-align: left;
}

.rem{
  color: #333;
  padding-left: 0rem;
}

.contman{
  display: inline-block;
  vertical-align:top;
  width:50%
}
.cont h1{
  font-size: 26px;
  font-weight: 500;
  color: #333;
  font-weight: bold;
  padding: 50px 30px;
}

.cont h3{
  padding-top: 45px;
  font-size: 16px;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
}
.cont input{
  font-size: 13px;
  max-width: 290px;
  width: 100%;
  margin: 13px auto;
  display: block;
  font-family: 'PT Sans', sans-serif;
}
.cont input[type="checkbox"]{
  display: inline-block;
  max-width: 43px;
  position: relative;
  top: 2px;
}
.cont .em, .cont .button1{
  max-width: 250px;
  width: 100%;
  margin: 8px auto;
  display: block;
  margin-top: 20px;
}
.cont .cont2{
  max-width: 250px;
  width: 100%;
  margin: 60px auto 8px auto;
  display: block;
  text-align: center;
}
.cont-tawo{
  height: 605px;
}
.cont-tawo img{
  width: 425px;
  height: 606px;
  object-fit: cover;
}
