table{
    border-style: solid;
    position: relative;
    left: 60px;
    right: 60px;
    

}
th, td{
    border-style: solid;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.col1{
    width: 50px;
}

.col2{
    width: 120px;
}

.col3{
    width: 250px;
}

.search{
    float: left;
    padding-left: 60px;
    padding-bottom: 20px;
}

.search input[type=text]{
    padding: 6px;
    margin-top: 8px;
    font-size: 12px;
    border: none;
}

.search .search-container button{
    position: fixed;
    padding: 6px 10px;
    padding-top: 8px;
    margin-right: 16px;
    font-size: 12px;
    border: solid;
    cursor: pointer;
}

.search .search-container button:hover {
    background: #ccc;
    
  }

  @media screen and (max-width: 600px) {
    .search .search-container {
      float: none;
    }

    .search input[type=text] {
      border: 1px solid #ccc;  
    }
}

  


