a{
    text-decoration: none;
    color: rgb(64, 64, 64)
}
.icon{
    height: 20px;
    width: 20px;
    background: none;
}
.icon, .check-icon {
    height: 20px;
    width: 20px;
    background: none;
}
.mark-read-button {
    margin-left: auto;
}

.header-tile{
    margin-left: 5%;
}
#menu-toggle{
    display: none;
}
.notification-header{
    width: 100%;
    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.notification-nav{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10%;
    gap: 20px;
}

.notification-nav-mobile-container{
    margin-left: auto;
    display: none;
}
.nav-links-mobile{
    /* display: none; */
}
.notification2-container{
    height: 100vh;
}

.notification-main{
    height: 100%;
    width: 100%;
    padding: 50px 5%;
    background-color: rgb(233, 233, 233);

}
.notification-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.notification-title{
    font-size: 20px;
    font-weight: bold;
}
.notif-name, .notif-message, .notif-post-message{
    font-size: 12px;
}
.notif-time, .notif-post-message{
    color: rgb(52, 52, 52);
}
.notif-time{
    font-size: 12px;
}
.notif-card-container{
    padding: 10px;
    background-color: white;
    height: 80px;
}
.notif-card-content{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.notif-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.post-img{
    margin-left: auto;
}

.notif-img, .post-img{
    height: 40px;
    width: 40px;
}

#menu-toggle:checked ~ .nav-links-mobile{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 380px) {
    .notif-name, .notif-message, .notif-post-message{
        font-size: 14px;
    }
}
@media screen and (min-width: 1000px){
    .notification-main{
        padding-left: 15%;
        padding-right: 15%;
    }
}

/* nav behavior */

  nav{
    margin-left: auto;
  }
  .nav-links a {
    text-decoration: none;
    color: black;
    padding: .25rem
  }
  
  .nav-links a:hover {
    color: rgb(138, 138, 138);
  }
  
  .hidden-nav {
    display: none;
  }
  
  main {
    background: white;
    text-align: justified;
    padding: .5rem;
  }
  


  
  /* hamburger icon is hidden on desktops */
  
  #menu-toggle, .hamburger {
    display: none;
  }
  
  .nav-links {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
  }
  
  .nav-links a {
    flex: 1 0;
    text-align: center;
  }
  
  /* Media queries */
  
  @media screen and (max-width: 530px) {
  
    .hidden-nav {
      display: flex;
      align-items: center;
      padding: .5rem;
      height: 2.5rem;
      
    }
    
    nav {
      padding: .5rem;
      background: white;
      position: fixed;
      flex: 1;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
    }
    
    .nav-links {
      display: none;
    }
    
    .hamburger {
      display: flex;
    }
    
    /*   when hamburger icon is checked, nav links will pop out */
    
    #menu-toggle:checked ~ .nav-links {
      display: flex;
      flex-direction: column;
    }
  }
  