.errand-cont{
    position: relative;
    padding: 20px;
}

.input-cont{
    display: flex;
    flex-direction: row;
    position: relative;
    border: solid 2px;
    padding: 0px 20px 0px 20px;
}

.errand-inputs{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 50px 0 30px;
}

.map--wrap{
    border: 5px solid;
    border-color: brown;
    width: 400px;
    height: 400px;
}

.map-small{
    width: 500px;
    height: 400px;
    position: relative;
}
