.body{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 60px; 
}

label{
  color: blue;
  font-weight: bold;
}

.container {
    position: relative;
    max-width: 850px;
    width: 100%;
    height: 600px;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
  }
  
.container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
  }
.flip{
    display: none;
  }
  
  
.container #flip:checked ~ .cover {
    transform: rotateY(-180deg);
  }
  
  
.container .cover .front,
.container .cover .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
.cover .back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  
.container .cover::before,
.container .cover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    opacity: 0.3;
    z-index: 12;
  }
  
.container .cover::after {
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  
.container .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
  }
  
.container .cover .text {
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.cover .text .text-1,
.cover .text .text-2 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding:20px 0 5px 0;
  }
  
.cover .text .text-2 {
    font-size: 15px;
    font-weight: 500;
    
  }
  
.container .forms {
    height: 100%;
    width: 100%;
    padding:15px 10px 5px 0;
    background: #fff;
  }
  
.container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 600px;
  }
  
.form-content .Catcher-form{
    width: calc(100% / 2 - 25px);
    height: 50;
    padding: 20px 0 15px 10px;
    position: center;

}


.form-content .employer-form {
    width: calc(100% / 2 - 25px);
    height: 50;
    padding: 20px 0 5px 10;
    position: center;
 
  }
  
.forms .form-content .title {
    position: relative;
    font-size: 25px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
  }
  
.input-boxes{
   line-height-step: 5%;
   margin-top: 15px;
   margin-bottom: 3px;
   margin-right: 10px;
   margin-left: 10px;
   text-align: center;
  }

  .em {
    padding-top: 0px;
  }

.toSignIn {
  padding: 15px 20px 65px 10px;
  margin-bottom: 25px;
  margin: 10px;
  display: block;
}

.text{
  padding:0 5px 10px 0;
  margin-top: 0;
  margin-bottom: 10px;
}

.button1 button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 45px;
  padding:20px;
  margin: 15px;
  margin-left: 45px;
  margin-top: 1px;
  margin-bottom: 25px;
  background-color: #eca763;
  color: #ffff;
  border-radius: 41px;
  font-size: 20px;
  font-weight: 450px;
  cursor: pointer;
}
  
.input-box{
  margin: 35px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

@media(max-width:1220px){
  .container{
    display: flex;
  }
}
  
  

  