.body{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 30px 20px;
  }
  
  .container {
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
  }
  
  .container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
  }
  
  
  .container #flip:checked ~ .cover {
    transform: rotateY(-180deg);
  }
  
  
  .container .cover .front,
  .container .cover .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .cover .back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  
  .container .cover::before,
  .container .cover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    opacity: 0.3;
    z-index: 12;
  }
  
  .container .cover::after {
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  
  .container .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
  }
  
  
  
  .container .cover .text {
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .cover .text .text-1,
  .cover .text .text-2 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
  }
  
  .cover .text .text-2 {
    font-size: 15px;
    font-weight: 500;
  }
  
  .container .forms {
    height: 100%;
    width: 100%;
    background: #fff;
  }
  
  .container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .form-content .Catcher-form,
  .form-content .employer-form {
    width: calc(100% / 2 - 25px);
  }
  
  .forms .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }
  .input-boxes{
   line-height-step: 2%;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-right: 11px;
   margin-left: 10px;
  }

  /* Sign in design */
  .si{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 30px 20px;
  }

  