.map-wrap {
  position: relative;
  width: 100%;
  /* height: 100%;  */
  /* calculate height of the screen minus the heading */
  height: calc(100vh - 77px);
}

.map-post-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 77px);
  /* calculate height of the screen minus the heading */
}

.map__filter__display {
  position: absolute;
  width: 200px;
  margin: auto;
  padding: 10px;
  left: 20px;
  z-index: 11;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map__filter__display:hover {
  background-color: aliceblue;
  border-radius: 10px;
  border: 1px dotted;
  background: rgba(141, 223, 255, 0.664);
}


.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.map__filter__type {
  /* border: 0.1px solid #636b74; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #f0f4f8;
  border: none;
  font-size: 1.20rem;
  font-weight: 600;
  /* font-style: italic; */
  cursor: pointer;
  color: #0b6bcb;
  letter-spacing: -0.025em;
  line-height: 45.0002px;
}

.map-landing {
  position: absolute;
  width: 100%;
  height: 83%;
}

.map__filter {
  position: fixed;
  width: 200px;
  margin: auto;
  padding: 10px;
  top: 100px;
  left: 20px;
  z-index: 11;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map__filter:hover {
  background-color: aliceblue;
  border-radius: 10px;
  border: 1px dotted;
  background: rgba(141, 223, 255, 0.664);
}

.map__filter__text {
  padding: 5px 0 15px 0;
}