.application-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* justify-content: space-between; 
    align-items: flex-start; */
}

.application {
  margin: 20px;
  flex-direction: column;
}

.application h1 {
  margin-right: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.application-divider {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.application-divider .table-wrapper {
  overflow-x: auto;
}

.application table {
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

.searchApplication {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 20px;
  width: 60%;
  max-width: 500px;
}

.searchApplication input {
  border-radius: 8px;
  padding: 10px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.application table tr:hover {
  background-color: #ddd;
}

.application th,
.application td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  color: black;
  width: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.application th {
  background-color: #1679AB;
  color: #fff;
}

.application-table tr:last-child td {
  border-bottom: none;
}

.application-table tr:hover {
  background-color: #ddd;
}

.application-table button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
}

.application button.cancel {
  /* background-color: #dc3545;
    color: white; */
  padding: 10px 20px;
  font-size: 12px;
  background-color: rgb(217, 83, 79);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
}

.application button.cancel:hover {
  background-color: #c82333;
}

.application button.delete {
  /* background-color: #dc3545;
    color: white; */
  padding: 10px 20px;
  font-size: 12px;
  background-color: rgb(55, 140, 231);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
}

.application button.delete:hover {
  background-color: rgb(57, 128, 205);
}

.pagination-container {
  display: flex;
  justify-content: center;
}


.pagination-container {
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 888px) {
  .searchApplication {
    flex-direction: column;
    width: 40%;
    min-width: 250px;

  }

  .application {
    overflow-x: auto;
  }

  table th,
  table td {
    font-size: 14px;
  }

  .application th,
  .application td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 140px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 12px;
  }
}