/*commissionpage.css*/
.Commission-page-container {
    display: flex;
    justify-content: space-between;
    /* Center content horizontally */
    align-items: flex-start;
    margin: 20px;
}

.searcherrand {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;
    max-width: 50rem;
}

.searcherrand input {
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.Commission-page button.cancel-btn {
    /* background-color: #dc3545;
      color: white; */
    padding: 10px 20px;
    font-size: 12px;
    background-color: rgb(217, 83, 79);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
}

.Commission-page button.cancel-btn:hover {
    background-color: #c82333;
}


.Commission-page {
    margin: 20px;
    flex-direction: column;
}

.Commission-page h1,
.Commission-page h6 {
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.Commission-page-divider {
    border-top: 1px solid #ccc;
    /* Top border */
    margin: 20px 0;
    /* Margin top and bottom */
}

.Commission-page-divider .table-wrapper {
    overflow-x: auto;
}

.Commission-page table {
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
}

.Commission-page th,
.Commission-page td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: black;
    width: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.Commission-page th {
    background-color: #1679AB;
    color: #fff;
}

.Commission-page tr:last-child td {
    border-bottom: none;
}

.Commission-page tr:hover {
    background-color: #ddd;
}


@media screen and (max-width: 888px) {
    .searcherrand {
        display: flex;
        flex-direction: row;
        /* justify-content: center;
        align-items: center; */
        /* width: 40%; */
        min-width: 250px;

    }

    .Commission-page {
        overflow-x: auto;
    }

    table th,
    table td {
        font-size: 14px;
        color: #fff;
    }

    .Commission-page th,
    .Commission-page td {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        width: 140px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-size: 12px;
        color: #fff;
    }
}