.employer-card {
  border: transparent;
  padding: 20px;
  padding-top: 30px;
  padding-left: 100px;
  margin-bottom: 16px;
}

.count-details {
  margin-top: 20px;
  display: grid;
}

.count-section {
  text-align: center;
  height: 120px;
  width: 250px;
  padding: 12px;
  border: transparent;
  text-decoration: none;
  color: black;
  display: inline-block;
  line-height: 50px;
}

.count-section:hover {
  text-decoration: none;
}

.count-section:hover {
  cursor: pointer;
}

.count-section h3 {
  margin-bottom: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.posts {
  background: rgb(0, 175, 245);
  background: linear-gradient(346deg, rgba(0, 175, 245, 1) 0%, rgba(0, 227, 183, 1) 100%);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);



}

.applicants1 {
  background: rgb(135, 207, 235);
  background: linear-gradient(346deg, rgba(135, 207, 235, 1) 0%, rgba(203, 204, 230, 1) 100%);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);


}

.errands {
  background: rgb(234, 236, 40);
  background: linear-gradient(0deg, rgba(234, 236, 40, 1) 0%, rgba(226, 187, 75, 0.8596230728619573) 60%);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);


}

.count-details p {
  font-size: 20px;
}

.count-details p strong {
  font-weight: bold;
  margin-right: 8px;
}




body {
  margin-top: 20px;
  background: #FAFAFA;
}

.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg, #FFB64D, #ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg, #FF5370, #ff869a);
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.text-center-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.card-spacing {
  margin-bottom: 15px;
}

.linkempcards {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 1.5px;
}