.sticky-button {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    padding: 10px 20px;
    background-color: #ce9251;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sticky-button.scrolled {
    background-color: #ce9251;
  }
  