/*For the EmployerCommissionList UI*/
.Commission-page-container {
  display: flex;
  /* justify-content: space-between; Center content horizontally */
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.Commission-page {
  display: flex;
  max-width: 1280px;
  width: 100%;
  margin: 20px;
  flex-direction: column;
}

.Commission-page h1,
.Commission-page h6 {
  margin-right: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  margin-left: 20px;
}

.Commission-page-divider {
  border-top: 1px solid #ccc;
  /* Top border */
  margin: 20px 0;
  /* Margin top and bottom */
}

.Commission-page-divider .table-wrapper {
  overflow-x: auto;
}

.Commission-page table {
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

.Commission-page th,
.Commission-page td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  color: black;
  width: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.Commission-page td .td-content .text {
  flex: 1;
  /* Allow text to take available space */
}

.Commission-page th {
  background-color: #1679ab;
  color: #fff;
}

.Commission-page tr:last-child td {
  border-bottom: none;
}

.Commission-page tr:hover {
  background-color: #ddd;
}

.add-errand {
  width: 180px;
  height: 50px;
  border-radius: 20px;
  padding: 10px 0 5px 0;
  background-color: #1679ab;
  color: #fff;
  border: none;
  margin-left: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.add-errand:active {
  transform: translateY(1px);
  box-shadow: none;
}

.search-filter {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* Adjust margin as needed */
}

.search,
.filter {
  display: flex;
  align-items: center;
}

.filter {
  margin-left: 20px;
  margin-bottom: 30px;
  width: 120px;
}

.filter select {
  min-height: 36px;
}

.search {
  width: 280px;
}

.filter select {
  width: 150px;
  /* Adjust width as needed */
}

/* Responsive */
@media screen and (max-width: 888px) {
  .search-filter {
    flex-direction: column;
  }

  .search,
  .filter {
    width: 80%;
  }

  .table-container {
    overflow-x: auto;
  }

  table th,
  table td {
    font-size: 14px;
  }

  .Commission-page th,
  .Commission-page td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    /* color: black; */
    width: 140px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 12px;
  }
}