.carousel-container {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1),
        0 2px 4px -2px rgba(0, 0, 0, .1);

}

.carousel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.catcher-image {
    width: 500px;
    min-height: 540px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;

}

.carousel-caption {
    /* background-color: rgba(0, 0, 0, 0.6); */
    background-color: rgb(22, 121, 171);
    /* background-color: #2b89e0; */
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    opacity: 0.921;
}

.catcher-username {
    margin-top: 5px;
    font-size: 2.50rem;
    font-weight: 600;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #333;
    border-radius: 50%;
}