.accounts-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.accounts-header h1 {
  margin-right: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.accounts {
  margin: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.search {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.search-filter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter select {
  padding: 8px;
  font-size: 12px;
}

.filter {
  margin-right: 30px;
}

.search input[type="text"] {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 0;
}

.search button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 0;
}

.accounts-divider {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.accounts-divider .table-wrapper {
  overflow-x: auto;
}

.accounts table {
  border-spacing: 0;
  width: 100%;
}

.accounts th,
.accounts td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  color: black;
  width: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.accounts th {
  /* background-color: #ce9251; */
  background-color: #1679AB;
  color: white;
}

.accounts tr:last-child td {
  border-bottom: none;
}

.accounts tr:hover {
  background-color: #ddd;
}

.accounts button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
}

.accounts .update button {
  background-color: #28a745;
  color: white;
}

.accounts .update button:hover {
  background-color: #218838;
}

.accounts button.delete {
  background-color: #dc3545;
  color: white;
}

.accounts button.delete:hover {
  background-color: #c82333;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

/* Search bar */
.search input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc; /* Add border for consistency */
  border-radius: 4px; /* Add border radius for rounded corners */
}

/* Dropdown */
.search select {
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ccc; /* Add border for consistency */
  border-radius: 4px; /* Add border radius for rounded corners */
}

/* Search button */
.search button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 0;
  border: none; /* Remove border for cleaner appearance */
  background-color: rgb(22, 121, 171);
  /* background-color: #ce9251;  */
  /* Match the button color with the header */
  color: white;
  border-radius: 4px; /* Add border radius for rounded corners */
}

/* Search button hover effect */
.search button:hover {
  background-color: rgb(11, 95, 138);
  /* background-color: #b97728;  */
  /* Darken the button color on hover */
}

.custom-modal {
  width: 600px;
  height: 400px;
}
 /* Target the modal root class */
@media (min-width: 768px) {
  .accList_modal {
   
    width: 600px;
  }
}

@media (max-width: 767px) {
  .accList_modal {
    width: 90%; /* Set width to 90% for smaller screens */
  }
}
