.commissions-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Adjust margin as needed */
}

.commissions-header h1 {
  margin-right: 10px; /* Adjust margin as needed */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.commissions {
  margin: 20px; /* Adjust margin as needed */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.search {
  margin-bottom: 10px; /* Adjust margin as needed */
  display: flex;
  align-items: center;
}

.search-filter {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Adjust margin as needed */
}

.filter select {
  padding: 8px;
  font-size: 12px; /* Adjust font size as needed */
}

.filter {
  margin-right: 30px; /* Push the filter to the right */
}

h1 {
  margin-bottom: 10px; /* Adjust the bottom margin of the h1 */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.search input[type="text"],
.search button {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 0;
}

.commissions-divider {
  border-top: 1px solid #ccc; /* Adjust border color and style as needed */
  margin: 20px 0; /* Adjust margin as needed */
}

.commissions-divider .table-wrapper {
  overflow-x: auto;
}

.commissions table {
  border-spacing: 0; /* Remove the gap between cells */
  width: 100%;
}

.commissions th,
.commissions td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  color: black;
  width: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.commissions th {
  /* background-color: #ce9251;  */
  /* Adjust background color as needed */
  background-color: #1679AB;
  color: #fff;
}

.commissions tr:last-child td {
  border-bottom: none; /* Remove bottom border for the last row */
}

.commissions tr:hover {
  background-color: #ddd; /* Adjust hover row color as needed */
}

.commissions button {
  padding: 8px 12px;
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
  margin-right: 5px; /* Adjust margin as needed */
}

.commissions .update button {
  background-color: #28a745; /* Adjust button color as needed */
  color: white;
}

.commissions .update button:hover {
  background-color: #218838; /* Adjust hover color as needed */
}

.commissions button.delete {
  background-color: #dc3545; /* Adjust button color as needed */
  color: white;
}

.commissions button.delete:hover {
  background-color: #c82333; /* Adjust hover color as needed */
}

/*Page design*/
.pagination-container {
  display: flex;
  justify-content: center;
}

.add-commission {
  width: 200px;
  height: 50px;
  border-radius: 40px;
  padding: 10px 0 5px 0;
  background-color: #eca763;
  color: #fff;
  border: none;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.add-commission:active {
  transform: translateY(1px);
  box-shadow: none;
}

.add-commission-button:hover {
  background-color: #0056b3; /* Adjust hover color as needed */
}

.searchAdmin {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 50%;
}

.inputSearchAdmin{
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0px 10px 0px;
}

.filter__admin__accountList{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 60%;
  gap: 8px;
  margin-left: 12px;
}

.CLstatus{
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
  /* margin: 10px 20px;
  width: 150px; */
}

.CLtype{
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;

  /* margin: 10px;
  width: 150px; */
}


/* Responsive */
@media screen and (max-width: 888px) {
  .filter__admin__accountList{
    width: 800px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-left: 12px;
  }

  .CLstatus{
    width: 500px;
    
  }

  .searchAdmin{
    /* border: solid; */
    width: 100%;
  }

}