.home {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(
    rgba(68, 186, 255, 0.682),
    rgba(150, 203, 236, 0.452)
  );
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home .content {
  text-align: center;
  padding-top: 1px;
}

.home .content img {
  height: 50%;
  width: 100%;
  margin-left: 80px;
  border-radius: 300px;
}
.home .content h1 {
  color: rgb(49, 49, 49);
  font-size: 40px;
  font-weight: 550;
  text-shadow: 0px 1px 1px rgb(234, 237, 168);
  letter-spacing: 3px;
  margin-left: 100px;
  margin-right: 25px;
  padding-bottom: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.home .content h1 span {
  color: #f9f9f9;
  text-shadow: 0px 2px 5px rgb(58, 58, 58);
  letter-spacing: 3px;
}
.home .content p {
  color: rgb(62, 62, 62);
  font-size: 13px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-shadow: rgb(28, 26, 23);
  margin-bottom: 10px;
  margin-top: 10px;
  /* padding: 0 20px;  */
  text-align: left;
  text-align-last: auto;
  margin-left: 180px;
  margin-right: 100px;
  text-align: center;
  padding-top: 5px;
  line-height: 1.5;
}

.btnn_con {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.ld_btn, .btns {
  position: relative;
  display: flex;
  margin: 20px 10px ;
  width: 400px;
  align-items: center;
  flex-direction: column;
}

.ld_btn{
  background-color: transparent;
  color: #1a1919;
  letter-spacing: 3px;
  font-weight: 550;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 2px;
  border: solid var(--primary);
  transition: all 0.3s ease-out;
  font-size: 12px;
  /* margin-left: 20%; */
  padding: 8px 100px;
}

.ld_btn a, .btns a{
  text-decoration: none;
}

.btns {
  background-color: #f4f6fc;
  color: #1a1919;
  letter-spacing: 3px;
  font-weight: 550;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 2px;
  border: solid var(--primary);
  transition: all 0.3s ease-out;
  font-size: 12px;
  /* margin-left: 20%; */
  padding: 8px 95px;
}

@media (max-width: 1099px) {
  /* .Services .box-container {
       display: flex;
       flex-wrap: wrap;
       gap: 2rem;
       display: grid;
       grid-template-columns: repeat(7, 1fr);
       max-width: 90rem;
       height: 25rem;
       margin: 0 auto;
       background: transparent;
       margin-bottom: 6rem;
    } */

  .Services .box-container .box {
    flex: 1 1 0rem;
    border-radius: 0.5rem;
    /* overflow: hidden; */
    border: none;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* margin-bottom: 25px;
       margin-top: 0px; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    scroll-behavior: smooth;
    align-items: flex-start;
    background-color: transparent;
    align-items: center;
    height: 30rem;
    width: 16rem;
    text-align: center;
    /* padding-top: 20px;
       padding-bottom: 40px; */
  }
}

.ld_btn :hover {
  background: #f4f6fc;
  color: rgb(8, 8, 8);
}

.btns :hover {
  background-color: transparent;
  color: #1a1919;
}

/**
 MAP
 */
.landing__map {
  margin: 80px;
  /* border: 2px solid; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.Services {
  margin: 50px;
}

.Services h1 {
  text-align: center;
  letter-spacing: 3px;
  margin-top: 30px;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 40px;
  color: rgb(28, 26, 23);
  text-shadow: 0px 1px 1px rgb(234, 237, 168);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* .Services h1 span {
    color: bisque;
    text-shadow: 0px 1px 1px black;
 } */

.Services .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 90rem;
  /* height: 25rem; */
  margin: 0 auto;
  background: transparent;
  margin-bottom: 6rem;
}

.Services .box-container {
  overflow-x: auto;
}

.Services .box-container .box {
  flex: 1 1 0rem;
  border-radius: 0.5rem;
  /* overflow: hidden; */
  border: none;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* margin-bottom: 25px;
   margin-top: 0px; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  scroll-behavior: smooth;
  align-items: flex-start;
  background-color: transparent;
  align-items: center;
  /* padding-top: 20px;
   padding-bottom: 40px; */
}

.Services .box-container .box img {
  height: 54%;
  width: 53%;
  object-fit: contain;
  transition: 0.5s;
  border-radius: 10px;
  padding-top: 1rem;
  background: white;
}
.Services .box-container .box .content {
  padding: 1rem 0 1.5rem 0;
  background: transparent;
  /* margin-right: 15px; */
}

.Services .box-container .box .content h3 {
  font-size: 1rem;
  color: rgb(17, 16, 16);
  /* padding-top: 3px;
   padding-bottom: 10px; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

.Services .box-container .box .content h3 i {
  color: rgb(79, 83, 83);
  margin-bottom: 25px;
}

.Services .box-container .box .content p {
  font-size: 1.5rem;
  color: rgb(27, 25, 25);
  padding: 0.5rem 0;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Services .box-container a {
  font-size: 1rem;
  padding: 10px 30px;
  width: 100%;
  font-weight: 550;
  background: #eca763;
  border-radius: 20px;
  color: white;
  transition: 0.5s;
  text-decoration: none;
  /* margin-left: 30px; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.Services .box-container a:hover {
  background: #eca763;
  color: rgb(8, 8, 8);
}

/* @media (max-width:500px){
    .Services{
        padding: 0;
    }
    .Services h1{
        padding: 20px;
    }
    .Services .box-container .box .content p{
       padding:0%;
       margin-left: 10px;
       font-size: 5px;
   }
   .Services .box-container .box .content h3{
    padding:3%;
    margin-left: 10px;
    font-size: 3.5px;
    }
    .Services .box-container .box .content .price{
    padding-top:10%;
    margin-left: 10px;
    font-size: 8px;
    }
    .Services .box-container .box .content .ld_btn{
       padding:0%;
       margin-left: 10px;
       font-size: 7px;
       }
 } */

/* .People{
    margin: none;
    background:#ded5c6;
 }
 
 .People h1 {
    text-align: center;
    letter-spacing: 3px;
    margin-top: 36px;
    font-weight: 600;
    font-size: 40px;
    background-color: #ded5c6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 0px 1px 1px black;;
    padding-top: .5rem;
 } */

/* .People h1 span {
    color: #ffff;
    text-shadow: 0px 1px 1px black;
 } */

/* .People .box-container {
    display: flex;
   justify-content: space-between;
 }
 
 .People .box-container .box {
    width: 50%; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    border: none;
    box-shadow: 0 0 0rem 0 rgba(0, 0, 0, 0.1);
    background: #ded5c6;
    padding: 7rem;
    padding-top: 1rem;
    box-sizing: border-box;
    position: relative; 
 } */

/* .People .box-container .box img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: #ffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
 
  .People .box-container .box .content {
    text-align: center;
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    padding: 2rem; 
  }
 
 .People .box-container .box::after{
   content: "";
   clear: both;
   display: table;
 
 }
 
 .People .box-container .box img:hover {
    transform: scale(1.1);
 } */

/* .People .box-container .box .content h3 {
    font-size: 2rem;
    color: rgb(17, 16, 16);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
 } */

/* @media (max-width:765px){
    .People{
        padding: 0;
    }
    .People .box img h1{
        padding: 20px;
    }
 } */

/* Adjusting Services section for small screens */
@media (max-width: 500px) {
  .Services {
    padding: 0;
  }

  .Services h1 {
    padding: 20px;
    font-size: 24px;
  }

  .Services .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  .Services .box-container .box {
    margin-bottom: 1rem;
    width: 90%;
  }

  .Services .box-container .box .content {
    padding: 20px; /* Add padding to content */
    text-align: center; /* Center content horizontally */
  }

  .Services .box-container .box .content p {
    padding: 0;
    margin-left: 10px; /* Remove left margin */
    font-size: 14px;
  }

  .Services .box-container .box .content h3 {
    padding: 3%;
    margin-left: 10px; /* Remove left margin */
    font-size: 12px;
  }

  .Services .box-container .box .content .price {
    padding-top: 10%;
    margin-left: 10px; /* Remove left margin */
    font-size: 16px;
  }

  .Services .box-container .box .content .ld_btn {
    padding: 0;
    margin-left: 10px; /* Remove left margin */
    font-size: 14px;
  }

  .Services .box-container .box .content .btn {
    margin-top: 10px;
  }
}

/* Adjusting People section */
.People {
  margin: 0;
  background: #ded5c6;
  padding: 50px 0;
}

.People h1 {
  text-align: center;
  letter-spacing: 3px;
  margin-top: 36px;
  font-weight: 600;
  font-size: 32px;
  background-color: #ded5c6;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding-top: 0.5rem;
}

.People .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.People .box-container .box {
  position: relative; /* Make the box a positioned parent */
  width: calc(50% - 20px); /* Adjust as needed */
  display: flex;
  flex-direction: column; /* Stack the content vertically */
  align-items: center;
  border: none;
  box-shadow: 0 0 0rem 0 rgba(0, 0, 0, 0.1);
  background: #ded5c6;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 30px; /* Add margin between boxes */
}

.People .box-container .box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #ffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.People .box-container .box img:hover {
  transform: scale(1.1);
}

.People .box-container .box .content h3 {
  font-size: 18px;
  color: rgb(17, 16, 16);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}

.People .box-container .box .content p {
  font-size: 14px;
  margin-bottom: 20px;
}

@media (max-width: 765px) {
  .People .box-container .box {
    width: calc(100% - 20px);
  }
}

@media (max-width: 670px) {
  .home .content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
  }

  .home .content img {
    width: 180%;
    height: 120%;
    /* margin-bottom: 10px; */
    min-width: 200px;
    min-height: 200px;
    margin-left: 25%;
    border: 2px solid skyblue;
  }

  .home img {
    position: absolute;
    left: -12px;
    top: -88px;
    background: transparent;
  }

  .btnn_con {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .home .content p {
    backdrop-filter: blur(5px);
    color: rgb(62, 62, 62);
    font-size: 14px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-shadow: rgb(28, 26, 23);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0 20px;
    width: 500px;
    text-align: left;
    text-align-last: auto;
    margin-left: 16%;
    margin-right: 60px;
    text-align: center;
    padding-top: 5px;
    line-height: 1.5;
  }

  .content {
    /* width: 80%; */
    margin-top: 10px;
    position: relative;
  }

  .content h1 {
    font-size: 5vw;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
  }

  .content p {
    font-size: 5px;
    text-align: left;
    margin-top: 5px;
    padding-right: 20px;
  }

  .buttons-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-right: 80px;
  }

  .ld_btn,
  .btns {
    margin: 0 5px;
    width: auto;
    font-size: 12px;
    padding: 12px;
    white-space: nowrap;
  }
}
