/* .App {
    font-family: sans-serif;
    text-align: center;
  } */

body {
  background-color: white; /* Set the background color for the entire page */
}
.btnn {
  margin: 20px;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1679ab;
  color: #fff;
  border: none;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: center;
}

.form-container label {
  color: black;
  margin-bottom: 5px; /* Add margin between labels and inputs */
}

.progress-line {
  position: absolute;
  height: 2px;
  background: gray;
  width: calc(100% - 80px);
  top: 50%;
  z-index: -1;
  transition: all 0.25s ease;
}

.steps-container {
  position: relative;
  max-width: 300px;
  margin: 20px auto;
}

.steps-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px; /* Set a maximum width for the step indicators */
  margin: 10px auto;
}

.steps {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  cursor: pointer;
}

.steps.active {
  background-color: skyblue;
}

.input-rows {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-rows2 {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.image-preview {
  margin: 10px;
  position: relative;
}

.label {
  flex: 0 0 150px; /* Adjust label width as needed */
  text-align: left;
  margin-right: 10px;
}

.input-rows .label {
  margin-right: 10px; /* Adjust margin between label and input */
  flex-shrink: 0;
}

.input-rows input[type="text"],
.input-rows input[type="number"],
.input-rows select,
.input-rows input[type="date"] {
  flex: 1; /* Let the input fill the remaining space */
  height: 40px; /* Set input height */
}

.input-rows input[type="number"],
.input-rows input[type="date"] {
  margin-right: 10px; /* Adjust as needed */
}

.input-rows .select {
  flex-grow: 1; /* Let the select fill the remaining space */
  height: 40px; /* Set the select height */
}

.form-group1.input-rows {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center; /* Center align items horizontally */
}
