
.navbar__cont {
  background: #378ce7;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  @media screen and (min-width: 995px) and (max-width: 1138px) {
    .navbar__cont {
      display: flex;
      justify-content: start;
    }
}

@media screen and (max-width: 994px) {
    .navbar__cont {
      display: flex;
      justify-content: start;
    }
}


.navbar__catcher {
    background: #9999ff;
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  @media screen and (min-width: 995px) and (max-width: 1138px) {
    .navbar__catcher {
      display: flex;
      justify-content: start;
    }
}

@media screen and (max-width: 994px) {
    .navbar__catcher {
      display: flex;
      justify-content: start;
    }
}


.navbar {
  background: #378ce7;;

 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1.2rem;
 position: sticky;
 top: 0;
 z-index: 999;
}

@media screen and (min-width: 995px) and (max-width: 1138px) {
  .navbar {
    display: flex;
    justify-content: start;
  }
}

@media screen and (max-width: 994px) {
  .navbar {
    display: flex;
    justify-content: start;
  }
}
