/* employercard.css */

.employer-card {
    border: transparent;
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    padding-top: 30px;
    padding-left: 100px;
    /* padding-right: 20px; */
    margin-bottom: 16px;
  }
  
  .count-details {
    margin-top: 20px;
    display: grid;
    flex-direction: column; /* Align sections vertically */
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    grid-gap: 10px; /* Spacing between sections */
  }
  
  .count-section {
    text-align: center;
    height: 120px;
    width: 250px;
    padding: 12px;
    border: transparent; /* Distribute space evenly among sections */
    text-decoration: none;
    color: black;
    display: inline-block;
    line-height: 50px;
  }

  .count-section:hover {
    text-decoration: none;
  }

  .count-section:hover {
    cursor: pointer;
  }
  
  .count-section h3 {
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  
  .posts {
    background-color: #fcdd2ee0; /* Golden yellow */
    border-radius: 20px;
  }
  
  .applicants1 {
    background-color: #87cfebe0; /* Sky blue */
    border-radius: 20px;
  }
  
  .errands {
    background-color: #ffa07ae0; /* Light salmon */
    border-radius: 20px;
  }
  
  .count-details p {
    /* margin: 4px 0; */
    font-size: 20px;
  }
  
  .count-details p strong {
    font-weight: bold;
    margin-right: 8px;
  }
  