video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    background: url('../../../public/images/banner_epmloyer.jpg') center center/cover no-repeat;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.hero-container > h1 {
    /* color: #fff; */
    color: #f3f3f4;
    font-size: 75px;
    margin-top: -60px;
    font-weight: 700;
    line-height: 1.75;
    font-style: oblique;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-container > p {
    margin-top: 5px;
    color: #fff;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
    margin-top: 32px;

}

.hero-btns .btn {
    margin: 6px;
}



@media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 50;
        margin-top: -30px;
    }

}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        font-size: 45px;
        margin-top: -20px;
    }

    .hero-container > p {
        font-size: 20px;
    }
}

.btn-mobile {
    display: block;
    text-decoration: none;
}

.btn {
    width: 100%;
}

/* 
    ONGOING HERO SECTION
    adrean-26/09/24
*/
.ongoing-hero-container {
    /* background: url('../../../public/images/banner_epmloyer.jpg') center center/cover no-repeat; */
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
    object-fit: contain;
    background: linear-gradient(#378ce7, #609ddd, #adcdeea2)
}

.ongoing-hero-container > h1 {

    color: #fff;
    font-size: 45px;
    margin: -25px;
}


.employer__hero__container {
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
    object-fit: contain;
    background: linear-gradient(#378ce7, #609ddd, #adcdeea2)
}

.employer__hero__container > h1 {
    color: #fff;
    font-size: 45px;
    margin: -25px;
}