.errand-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.errand-inputs{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}