.notification-container {
  height: 100vh;
  position: relative;
}

.notification-main {
  height: 100%;
  /* width: 100%; */
  padding: 20px 5%;
  background-color: rgb(233, 233, 233);
}

.notification-header {
  width: 100%;
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.notification-title {
  font-size: 20px;
  font-weight: bold;
}
.notification-date, notification-item-info{
  color: rgb(52, 52, 52);
}
.notification-date{
  font-size: 12px;
}

.icon, .check-icon {
  height: 20px;
  width: 20px;
  background: none;
}

.mark-read-button {
  margin-left: auto;
}

.notification-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notification-item-container {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   height: 100%; /* Set the height of the notification-item-container to match its parent container */
  position: relative;
  
}

.notification-item-info {
  padding: 10px;
}

.notification-type {
  margin: 0;
}
.notification-type{
  size: 14px;
}

.notification-desc, .notification-date {
  margin: 0;
}
.notification-desc, .notification-type{
  margin: -3px;
}

.notification-button {
  text-align: right;
  margin-top: -50px;
}

.read-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: lightblue;
  border: none;
  cursor: pointer;
}

.read-button:hover {
  background-color: cyan;
}

@media screen and (min-width: 380px) {
  .notification-title {
    font-size: 24px;
  }
}

@media screen and (min-width: 1000px) {
  .notification-main {
    padding-left: 15%;
    padding-right: 15%;
  }
}
