.notifs {
    padding: 4rem;
    background-color: #f2f2f2;
}

.notifs_container{
    display: flex;
    flex-flow: column;
    max-width: 1220px;
    width: 90%;
    margin: 0 auto;
    
}

.notifs_wrapper{
    position: relative;
    margin: 30px 0 15px;
    
}

.notifs_items{
    margin-bottom: 10px;
    
}

.notif_item{
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    background-color: aquamarine;
    padding: 20px;
}

.notif_item_info{
    padding: 30px 15rem 30px 30px;
}

.notif_item_text{
    
}

.notif_item_date{
    
}

.button{
  width: 80px;
  height: 80px;
  border-radius: 10px;
}




@media only screen and (min-width: 1200px) {
    .content__blog__container {
      
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .notifs_items {
      
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .notif_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0 0 0 ;
    }
    h3{
      padding-left: 25px;
      justify-content: center;
    }
  }
    @media only screen and (max-width: 1024px) {
      .notif_item_info {
          padding: 40px 30px 30px 30px;
          justify-content: center;
          align-items: center;
      }
  }

  @media only screen and (max-width: 1024px) {
    .btn{
      width: 140px;
      height: 100px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
}


